storage: packages
source https://api.nuget.org/v3/index.json

frameworks: net48, net6.0, netstandard2.0

# Add the nuget packages you use here
nuget FSharp.Core
nuget Microsoft.NETFramework.ReferenceAssemblies
nuget System.ServiceModel.Duplex
nuget System.ServiceModel.Http

# These lines are used by Paket to get the latest version of the Type Provider SDK files
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs

group Test
  source https://api.nuget.org/v3/index.json
  frameworks: net48, net6.0

  nuget NUnit
  nuget NUnit.Console
  nuget NUnit3TestAdapter version_in_path: true
  nuget FSharp.Core
  nuget Microsoft.NET.Test.Sdk